body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0px  166px;
}
.header {
    background-image: url(/Restaurant/photo/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.header-line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px; 
    transition:color  0.2s linear;
}
.nav-item:hover{
    color:#FF7400;
    
}
.cart {
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}
.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}
.num {
    color:#fff;
    text-decoration: none;
    font-weight: 700;
    transition:color 0.3s linear;
}
.num:hover {
    color:#FF7400;
    
}
.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.phone-holder {
    display: flex;
    align-items: center;
}
.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    transition: background-color 0.2s linear ;
}
.button:hover {
    background-color: #b45b12;  
}

.menu-title {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 400;
}
.menu-title span {
    color: #D67E35;
}

.menu-img {
    background-color: #000;
    height: 500vh;
    background-size: cover;
}
.menu- {
    width: 1200px;
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    background-color: #000;
    text-align: center;
    padding: 20px 0px;
    color: #fff;
}
.burger-menu {
    display: none;
}
.block {
    display: block;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
}
.disp {
    display: none;
}
.bg {
    background-image: url(/Restaurant/photo/dg-info.jpg);
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-widht: 780px) {
    .history-holder {
        display: block;
    }
    .menu-item {
        width: auto;
    }
    .high {
        display: none;
    }
    .container {
        margin: auto 40px;
    }
    .number-item {
        font-size: 23px;
    }
}


@media(max-widht: 1185px) {
    .burger-menu {
        display: block;
    }
    .nav,
    .card,
    .phone,
    .btn {
        display: none;
    }
    .header-line {
        justify-content: space-between;
    }
    .burger-image {
        display: none;
    }

}
